[Unit]
Description=E-ink display control

[Service]
ExecStart=/home/pi/goldfinger/goldfinger
WorkingDirectory=/home/pi/goldfinger

[Install]
WantedBy=multi-user.target
