[Unit]
Description=LCD control webserver

[Service]
ExecStart=/home/pi/goldfinger/goldfinger
WorkingDirectory=/home/pi/goldfinger
Environment="ROCKET_PROFILE=release"

[Install]
WantedBy=multi-user.target
