[Unit]
Description=E-ink display control

[Service]
ExecStart=/home/pi/goldfinger/goldfinger
WorkingDirectory=/home/pi/goldfinger
Environment="RUST_BACKTRACE=1"
Restart=on-failure
RestartSec=1s
RestartMaxDelaySec=30s
RestartSteps=5

[Install]
WantedBy=multi-user.target
