<!DOCTYPE html>
<html>
  <head>
    <title>Goldfinger</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="root">
      <h1>Goldfinger</h1>

      <form class="resource-form" action="/lcd" method="post">
        <h2>LCD</h2>

        <label for="lcd-mode">Mode</label>
        <select id="lcd-mode" name="mode">
          <option value="clock" {% if mode == 'clock' %}selected{% endif %}>Clock</option>
            Weather
          </option>
        </select>

        <button type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
